:root {
  background-color: rgb(255, 247, 231);
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
}

.logo {
  height: 150px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.btn {
  width: 200px;
  height: 60px;
  background-color: rgb(13, 150, 241);
  border-radius: 20px;
  color: rgb(255, 255, 255);
  margin: 35px;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
}
